.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    /* 
        -- selector > berfungsi untuk select direct child. langsung target anak dari element  
        <section>
            <div class="example">
                <h1> Example </h1>
            </div>
            <div class="example">
                <h1> Example </h1>
            </div>
        </section>

        contoh code penggunaan selector >
        {*} berarti select all
        jadi maksud code diatas adalah select semua direct child yg terdapat element section.
        child yang terselect hanyalah div, karena direct dari section
    */
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -10rem;
}