.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem; // ***
    // height di definisikan disini untuk fix collapse height dikarenakan position absolute child


    &__side {
        height: 50rem;
        font-size: 2rem;
        transition: all .5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);
        
        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        &--1 {
            background-image: url(../img/nat-5.jpg);
        }
    }
}